In [ ]:
# #읽어드린 데이터 객체 이름 변경 및 일부 표시
# df = df_data_1
# print(df.shape) #크기 (행 x 콜룸)
# display(df)     #데이터 보기

In [1]:
#데이터 읽고 크기 및 일부 표시(로컬 주피터 실행시 사용)
import pandas as pd
df = pd.read_csv (r'TCBFDFS02_07.csv')
print(df.shape)
display(df)

(2000, 12)

,USER_ID,FIN_ASSET_SECTION_DIV,NONFIN_ASSET_SECTION_DIV,CRM_AGE_DIV,JOB_SECTION_DIV,SIDO_DIV,FINANCE_AMOUNT,CASH_AMOUNT,ACCOUNT_AMOUNT,INVEST_AMOUNT,INSURANCE_AMOUNT,ANNUITY_AMOUNT
0,2000000000,1.0,1.0,29.0,7.0,10.0,2.432545e+07,1.702500e+06,6810000.0,6.861365e+06,3268800.0,5.682789e+06
1,2000000001,4.0,2.0,50.0,12.0,10.0,7.796854e+07,4.217000e+06,33736000.0,2.060324e+07,10120800.0,9.291501e+06
2,2000000002,1.0,2.0,29.0,3.0,21.0,2.656856e+07,3.242000e+05,6484000.0,1.120400e+07,3242000.0,5.314363e+06
3,2000000003,1.0,2.0,40.0,10.0,30.0,2.963063e+07,1.896600e+06,12644000.0,1.199225e+07,3097780.0,NaN
4,2000000004,5.0,4.0,20.0,12.0,34.0,2.749925e+08,2.111000e+07,84440000.0,7.574282e+07,23643200.0,7.005648e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2907281665,9.0,NaN,NaN,NaN,NaN,3.003484e+10,NaN,NaN,NaN,NaN,NaN
1996,2907281666,9.0,NaN,NaN,NaN,NaN,8.916232e+10,NaN,NaN,NaN,NaN,NaN
1997,2907281667,9.0,NaN,NaN,NaN,NaN,7.500888e+09,NaN,NaN,NaN,NaN,NaN
1998,2907281668,9.0,NaN,NaN,NaN,NaN,1.979311e+09,NaN,NaN,NaN,NaN,NaN
1999,2907281669,9.0,NaN,NaN,NaN,NaN,1.133223e+11,NaN,NaN,NaN,NaN,NaN

In [2]:
#또 다른 은행 데이터 예제:
#https://www.kaggle.com/c/santander-product-recommendation/data?select=test_ver2.csv.zip
from sklearn import model_selection
from sklearn import tree
from sklearn import svm
from sklearn import ensemble
from sklearn import neighbors
from sklearn import linear_model
from sklearn import metrics
from sklearn import preprocessing
from sklearn.cluster import KMeans

%matplotlib inline
from IPython.display import Image
import matplotlib as mlp
import matplotlib.pyplot as plt
import numpy as np
import os
import sklearn
import seaborn as sns
import json

In [3]:
# #불필요한 콜룸 지우기
# df.drop(['그룹회사코드', '기준년월일', '비금융자산집계금액', '부채집계금액',
#        '시스템최종처리일시', '시스템최종사용자번호'], axis=1,inplace=True)

#도시명, 지역명, 연령대, 제품 10개 사용
print(df.shape)
display(df)

(2000, 12)

,USER_ID,FIN_ASSET_SECTION_DIV,NONFIN_ASSET_SECTION_DIV,CRM_AGE_DIV,JOB_SECTION_DIV,SIDO_DIV,FINANCE_AMOUNT,CASH_AMOUNT,ACCOUNT_AMOUNT,INVEST_AMOUNT,INSURANCE_AMOUNT,ANNUITY_AMOUNT
0,2000000000,1.0,1.0,29.0,7.0,10.0,2.432545e+07,1.702500e+06,6810000.0,6.861365e+06,3268800.0,5.682789e+06
1,2000000001,4.0,2.0,50.0,12.0,10.0,7.796854e+07,4.217000e+06,33736000.0,2.060324e+07,10120800.0,9.291501e+06
2,2000000002,1.0,2.0,29.0,3.0,21.0,2.656856e+07,3.242000e+05,6484000.0,1.120400e+07,3242000.0,5.314363e+06
3,2000000003,1.0,2.0,40.0,10.0,30.0,2.963063e+07,1.896600e+06,12644000.0,1.199225e+07,3097780.0,NaN
4,2000000004,5.0,4.0,20.0,12.0,34.0,2.749925e+08,2.111000e+07,84440000.0,7.574282e+07,23643200.0,7.005648e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2907281665,9.0,NaN,NaN,NaN,NaN,3.003484e+10,NaN,NaN,NaN,NaN,NaN
1996,2907281666,9.0,NaN,NaN,NaN,NaN,8.916232e+10,NaN,NaN,NaN,NaN,NaN
1997,2907281667,9.0,NaN,NaN,NaN,NaN,7.500888e+09,NaN,NaN,NaN,NaN,NaN
1998,2907281668,9.0,NaN,NaN,NaN,NaN,1.979311e+09,NaN,NaN,NaN,NaN,NaN
1999,2907281669,9.0,NaN,NaN,NaN,NaN,1.133223e+11,NaN,NaN,NaN,NaN,NaN

In [ ]:
#구매자별 구매 리스트 합산
df = df.groupby(by=['FIN_ASSET_SECTION_DIV', 'NONFIN_ASSET_SECTION_DIV', 'CRM_AGE_DIV', 'JOB_SECTION_DIV', 'SIDO_DIV', '', ''], as_index=False).sum()

In [ ]:
#고객 아이디 콜룸 삭제
df.drop(['마이데이터고객식별자'], axis=1,inplace=True)

print(df.shape)
display(df)

In [ ]:
#클러스터링을 이용한 레이블링 프로세스
#도시명, 연령대, 지역명 숫자화
label_encoder = preprocessing.LabelEncoder()

df['현금자산집계금액'] = label_encoder.fit_transform(df['현금자산집계금액'])
df['예금자산집계금액'] = label_encoder.fit_transform(df['예금자산집계금액'])
df['투자자산집계금액'] = label_encoder.fit_transform(df['투자자산집계금액'].astype(str))

In [ ]:
df.describe()

In [ ]:
#스케일링을 해야 하나, 데모상 없이 진행
#k-means cluster 
#k-means cluster 생성, 고객 종류 100개
numb_of_cluster=10
kmeans = KMeans(n_clusters=numb_of_cluster)
kmeans.fit(df)

#k-means cluster를 이용한 고객 종류 분류
y_kmeans = kmeans.predict(df)

#각 데이터별 판별된 클러스터 지정 및 기존 데이터에 추가(마지막 콜룸에 추가됨)
df["cluster"] = pd.DataFrame(y_kmeans, columns = {"cluster"})

display(df)

In [ ]:
#클러스터된 데이터 리뷰: 각 클러스터별, 연령대별 구매 제품 표시
grouped_df = df.groupby(["cluster"], as_index=False).sum()

#각 줄의 인덱스가 이미 클러스터와 동일하여 클러스터 콜룸 및 불필요한 나머지 콜룸 드롭
grouped_df.drop(['CITY','STATE','GENERATION', 'cluster'], axis=1,inplace=True)
df_a = grouped_df.T
df_a.plot(kind='barh', stacked=True, fontsize=14, figsize=[16,29], colormap='gist_rainbow')

In [ ]:
#각 클러스터별 많이 판매된 아이템 랭킹
for x in range(grouped_df.shape[0]):
    df_a['rank_'+str(x)] = df_a[x].rank(method='first', ascending=False)

#debug
display(df_a)

In [ ]:
#mysql DB에 넣을 데이터 정리, 아이템 갯수 및 클러스터가 적어서 클러스터별 아이템 랭킹에 많은 차이가 없습니다.
#상단에 numb_of_cluster 갯수를 30 정도로 높이면 얼마만큼의 차이를 볼 수가 있습니다.
#목표: values ('cluster_01', 'product 1', 'product 2', 'product 3', 'product 4', 'product 5'),(...);
result = "values "
for y in range(0, numb_of_cluster):
    line = "('"+str(y)
    for x in range(1, 6): #가장 많이 구매된 아이템 5개
        line = line + "', '"+ str(df_a[df_a['rank_'+str(y)] == x].index[0])
    line = line + "'),\n"
    result = result + line


print(result[:-2]+";")

In [ ]:
# 추후 Auto AI를 위해서 프로젝트 폴더에 저장
project.save_data("product_labeled_data.csv", df.to_csv(index=False), overwrite=True)

In [ ]:
#-----수동 기계학습 시작----
df_data = df
print (df_data.shape)
display(df_data)

In [ ]:
#기계학습을 위해서 데이터 읽기(로컬에서 이용)
# df_data = pd.read_csv (r'product_with_cluster.csv')
# print (df_data.shape)
# display(df_data)

In [ ]:
#cluster별 세대 특성(feature) 분포 보기(세대는 별 차이 없는 것으로 보입니다.)
df_data.groupby(["cluster", "GENERATION"]).size().unstack().plot(kind='bar', stacked=True, figsize=(20,5))

In [ ]:
#cluster별 지역 특성(feature) 분포 보기(세대는 별 차이 없는 것으로 보입니다.)
df_data.groupby(["cluster", "STATE"]).size().unstack().plot(kind='bar', stacked=True, figsize=(20,5), legend=False)

In [ ]:
#classify 목표(target 또는 y) class/레이블 따로 정리
y = df_data['cluster'].values.astype(np.int)
#학습 데이터에서 레이블 콜룸 삭제
df_data.drop(["cluster"], axis = 1, inplace=True)
print('\n목표(target 또는 y) 레이블:')
print(y)

#골고루 데이터 분포를 위해 스케일링, 결과: X
X = df_data.values.astype(np.float)
print('np float으로 변환:')
print(X)


scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)
print('\n스케일링:')
X.shape
print(X)

In [ ]:
#기계학습 알고리즘 별 학습/테스트 데이터를 나눠 학습/테스트 정확성 return 함수 생성
def stratified_cv(X, y, clf_class, shuffle=True, n_folds=2):
    stratified_k_fold = model_selection.StratifiedKFold(n_splits=n_folds, shuffle=shuffle)
    y_pred = y.copy()
    # ii -> train
    # jj -> test indices
    for ii, jj in stratified_k_fold.split(X, y): 
        X_train, X_test = X[ii], X[jj]
        y_train = y[ii]
        clf = clf_class
        clf.fit(X_train,y_train)
        y_pred[jj] = clf.predict(X_test)
    return y_pred

In [ ]:
# 몇 가지의 기계학습 알고리즘 import
from sklearn.ensemble import GradientBoostingClassifier
gradient_boost = GradientBoostingClassifier()

from sklearn.svm import SVC
svc_model = SVC(gamma='auto')

from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=10)

from sklearn.neighbors import KNeighborsClassifier
k_neighbors = KNeighborsClassifier()

from sklearn.linear_model import LogisticRegression
logistic_regression = LogisticRegression(solver='lbfgs')

In [ ]:
#알고리즘별 성능 테스트
print('Gradient Boosting Classifier:  {:.2f}'.format(metrics.accuracy_score(y, stratified_cv(X, y, gradient_boost))))
print('Support vector machine(SVM):   {:.2f}'.format(metrics.accuracy_score(y, stratified_cv(X, y, svc_model))))
print('Random Forest Classifier:      {:.2f}'.format(metrics.accuracy_score(y, stratified_cv(X, y, random_forest))))
print('K Nearest Neighbor Classifier: {:.2f}'.format(metrics.accuracy_score(y, stratified_cv(X, y, k_neighbors))))
print('Logistic Regression:           {:.2f}'.format(metrics.accuracy_score(y, stratified_cv(X, y, logistic_regression))))

In [ ]:
#GBC 알고리즘의 class/레이블 별 정확성 보기
grad_ens_conf_matrix = metrics.confusion_matrix(y, stratified_cv(X, y, gradient_boost))
sns.heatmap(grad_ens_conf_matrix, annot=True,  fmt='');
title = 'Gradient Boosting'
plt.title(title);

In [ ]:
#SVM 알고리즘의 class/레이블 별 정확성 보기
svm_svc_conf_matrix = metrics.confusion_matrix(y, stratified_cv(X, y, svc_model))
sns.heatmap(svm_svc_conf_matrix, annot=True,  fmt='');
title = 'SVM'
plt.title(title);

In [ ]:
#Random forest 알고리즘의 class/레이블 별 정확성 보기
random_forest_conf_matrix = metrics.confusion_matrix(y, stratified_cv(X, y, random_forest))
sns.heatmap(random_forest_conf_matrix, annot=True,  fmt='');
title = 'Random Forest'
plt.title(title);

In [ ]:
#precision 및 f1 스코어 보기
print('Gradient Boosting Classifier:\n {}\n'.format(metrics.classification_report(y, stratified_cv(X, y, gradient_boost))))
print('Support vector machine(SVM):\n {}\n'.format(metrics.classification_report(y, stratified_cv(X, y, svc_model))))
print('Random Forest Classifier:\n {}\n'.format(metrics.classification_report(y, stratified_cv(X, y, random_forest))))

In [ ]:
#gbc 가 정확도가 높아 gbc를 선택하여 모델 생성
#X 학습 데이터 한줄 마다, y 각 한 줄마다 class/레이블 값으로 학습
gbc = ensemble.GradientBoostingClassifier()
gbc.fit(X, y)
#for large data set use gbc.partial_fit()

In [ ]:
#다중 데이터를 한번에 classify/predict/test/스코어 할 때, 학습 데이터 X와 같이 데이터 생성하여 아래 함수 호출
#다중 데이터 결과 Array에서 판별 결과 확인
gbc.predict(X)

In [ ]:
#클라이언트 어플리케이션에서는 받은 클러스터 넘버로 각 클러스터별 많이 가장 판매된 제품 리스트 도출
def get_rank_from_cluster(a):
    result = []
    for x in range(1, 6): #가장 많이 구매된 아이템 5개
        result.append(df_a[df_a['rank_'+str(a)] == x].index[0])
    return result

answer = get_rank_from_cluster(0)
print(answer)

In [ ]:
#참고: 각 특성(Feature) 별 중요도 보기
feature_importance = gbc.feature_importances_
print (gbc.feature_importances_)
feat_importances = pd.Series(gbc.feature_importances_, index=df_data.columns)
feat_importances = feat_importances.nlargest(19)
feat_importances.plot(kind='barh' , figsize=(10,10))

In [ ]:
#임의 테스트 값을 지정해 놓았습니다.
array_of_input_fields = ["CITY", "STATE", "GENERATION", "Baby Food", "Diapers", "Formula", "Lotion", "Baby wash", "Wipes", "Fresh Fruits", "Fresh Vegetables", "Beer", "Wine", "Club Soda", "Sports Drink", "Chips", "Popcorn", "Oatmeal", "Medicines", "Canned Foods", "Cigarettes", "Cheese", "Cleaning Products", "Condiments", "Frozen Foods", "Kitchen Items", "Meat", "Office Supplies", "Personal Care", "Pet Supplies", "Sea Food", "Spices"]

array_of_values = [[ 24, 124, 0, 1, 0, 1, 0, 1, 4, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
                   [ 1690, 123, 1, 1, 0, 0, 0, 0, 4, 1, 3, 0, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [ ]:
#WML 파이썬 코드 스닙 및 API Key, URL 교체

In [ ]:
#클러스터 판별 결과를 얻었습니다.
FirstData = response_scoring.json().get('predictions')[0].get('values')[0][0]
SecondData = response_scoring.json().get('predictions')[0].get('values')[1][0]
print("1st data cluster result: ", response_scoring.json().get('predictions')[0].get('values')[0][0])
print("2nd data cluster result: ", response_scoring.json().get('predictions')[0].get('values')[1][0])